<app-post-form [isEdit]="isEdit"  [currentPost]="currentPost" (newPost)="onNewPost($event)" (updatedPost)="onUpdatePost($event)"> </app-post-form>
<!--Outputs = signified by ()-->
<!--Inputs = signified by []-->
<h1>Post</h1>
<div class="card" *ngFor="let a of posts; let i = index">
  <div class="card-body">
    <h2>title: {{a.title}}</h2>
    <p>Body: {{a.body}}</p>
    <hr>
<!--    delete button-->
    <button (click)="deletePost(a)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
<!--    edit button-->
    <button (click)="editPost(a)" class="btn btn-light"><i class="fa fa-pencil"></i></button>
  </div>
</div>
