<!--<h3>{{member.firstName}} {{member.lastName}}'s username is {{member.userName}} his member number is {{member.memberNo}}</h3>-->
<!--<h2>Name: {{member.firstName}}</h2>-->
<!--<h3>Username: {{member.lastName}}</h3>-->
<!--<h4>MemberNo: {{member.memberNo}}</h4>-->







<div *ngIf="loading">  <!--part of set time out-->
  <ul>
    <li *ngFor="let member of member">
      <h2>{{member.firstName}} {{member.lastName}}</h2>
      <p id="blue">{{member.userName}}</p>
      <p>{{member.memberNo}}</p>
    </li>
  </ul>
  <h3 *ngIf="member.length > 1 "> There are {{member.length}} Members in the VIP</h3>
  <h3 *ngIf="member.length === 1">There is only {{member.length}} Member in the VIP</h3>
</div>
<h3 *ngIf="!loading">Loading VIP Members</h3>     <!--part of set time out-->



<!--Let's create some User Experience!-->
<!--Create a Loading Message that reads 'VIP Members loading…' or something little more creative. This message should be the only thing on display.-->
<!--After 5 seconds, the message disappears and the members from your array appears on the webpage.-->
<!--*HINT: You are going to need to create a new property.-->
<!--**HINT HINT: setTimeout()-->

<!--INSTALL Bootstrap!-->
<!--Make sure that you stopped your application first.-->
<!--In your terminal run the following command to install Bootstrap:-->
<!--npm install - -save bootstrap-->
<!--Once finished, run the next command to install jQuery:-->
<!--npm install - -save jquery-->

<!--Next, open the angular.json file of your project and include:-->
<!--"node_modules/bootstrap/dist/css/bootstrap.css" in the-->
<!--projects->architect->build->styles array,-->
<!--"node_modules/bootstrap/dist/js/bootstrap.js" in the-->
<!--projects->architect->build->scripts array,-->
<!--"node_modules/bootstrap/dist/js/bootstrap.js" in the-->
<!--projects->architect->build->scripts array-->
<!--FINISHED-->


<!--DONE-->
<!--Using our vip component, go into the typescript file and add more members. Have total of five members. (You may need to change your property's data-type.)-->

<!--In your vip's template, update your code so that it will render all the members you had created. Using the ngFor directive, display each member using an unordered list.-->
<!--Have the name of each member display in an h2 element, bold, and underlined. The username, display in a paragraph element, and in blue letters. And the memberNo,-->
<!--in a paragraph element.-->

<!--Using an ngIf directive, include a message that displays the number of Member in the array if there more than 1 member in the array.-->
<!--Ex. If you have 5 members in your array, at the bottom of the webpage, it should read '5 Members Found' or 'There are 5 Members in the VIP'.-->
<!--If you have 1 member in the array, the message should read, 'There is only 1 Member in the VIP'.-->
