<app-navbar></app-navbar>
<h1>Angular App Lesson</h1>
<!--<app-home></app-home>-->
<!--<app-posts></app-posts>-->
<!--<app-users></app-users>-->
<!--<app-hello></app-hello>-->
<!--<app-travel></app-travel>-->
<!--<app-warningalert></app-warningalert>-->
<!--<app-codebound></app-codebound>-->
<!--<app-math></app-math>-->
<!--<app-vip>-->
<!--  <div class="app-loading">-->
<!--    <div class="logo"></div>-->
<!--    <svg class="spinner" viewBox="25 25 50 50">-->
<!--      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>-->
<!--    </svg>-->
<!--  </div>-->
<!--</app-vip>-->
<app-material-styling></app-material-styling>
<router-outlet></router-outlet>

<!--EXTERNAL FORMS EXAMPLE-->



<!--SIMPLE FORMS EXAMPLE-->
<!--<form #corona="ngForm" (ngSubmit) = "onclickSubmit(corona.value)">-->
<!--  <input type = "text" name = "patient_name" placeholder = "name" ngModel>-->
<!--  <br/>-->
<!--  <input type = "text" name = "patient_age" placeholder = "age" ngModel>-->
<!--  <br/>-->
<!--  <input type = "submit" value = "submit">-->
<!--</form>-->


<!--REACTIVE FORMS EXAMPLE-->
<!--<form [formGroup]="form" (ngSubmit) = "onClickSubmit(form.value)">-->
<!--  <input type = "text"-->
<!--         name = "patient_name"-->
<!--         placeholder = "name"-->
<!--         formControlName ="patient_name">-->
<!--  <br/>-->
<!--  <input type = "text"-->
<!--         name= "patient_age"-->
<!--         placeholder = "age"-->
<!--         formControlName = "patient_age">-->
<!--  <br/>-->
<!--  <input type = "submit" value = "submit">-->
<!--</form>-->
