<!--<p>Click the button to display an alert box.</p>-->

<!--<button onclick="myFunction()">Try it</button>-->

<!--<script>-->
<!--  function myFunction() {-->
<!--    alert("Hello! I am an alert box!");-->
<!--  }-->
<!--</script>-->
