/*.travel{*/
/*  background-color: springgreen;*/
/*}*/
/*h1{*/
/*  background-color: springgreen;*/
/*}*/
/*ul{*/
/*  background-color: springgreen;*/
/*}*/
/*li{*/
/*  background-color: springgreen;*/
/*}*/

*{
  background-color: springgreen;
}
