<p>math works!</p>
<!--<h3>{{this.num1}} + {{this.num2}} = {{sumOf(10,2)}}</h3>-->
<h3>{{sumOf(40,4)}}</h3>
<h3>{{differenceOf(7,3)}}</h3>
<h3>{{productOf(7, 4)}}</h3>
<h3>{{quotientOf(50,2)}}</h3>
<!--<h3>{{this.num1}} - {{this.num2}} = {{differenceOf(7,2)}}</h3>-->
<!--<h3>{{this.num1}} x {{this.num2}} = {{productOf(9,2)}}</h3>-->
<!--<h3>{{this.num1}} / {{this.num2}} = {{quotientOf(50,2)}}</h3>-->
